/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

body
{
    font-family: Tahoma,Helvetica,Arial,Sans-Serif;
    font-size: 100%;
    background-color: #FFFFFF;
    color: #000000;
}
div
{
    position: relative;
    border: none;
}
img, embed, object, video 
{
    max-width: 100%;
}
/*Set background image*/
div.site_container 
{
    clear: both;
    background-color: #ffffff;
    background-image: url('../img/background_image.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}
div.site_header 
{
    clear: both;
    width: 980px;
    height: 80px;
}
div.header_logo 
{
    width: 80px;
    height: 62px;
    /*margin-left: calc((100% - 980px) / 2);*/
    margin-left: 450px;
}
div.header_title 
{
    text-align: center;
    margin-top: 18px;
    font-size: 140%;
}
div.header_motto 
{
    text-align: center;
}

div.header_menu 
{
    clear: both;
    float: left;
    width: 940px;
    height: 61px;
    z-index: 20; /*fix for ie */
    margin: 70px 0px 0px 0px;
}

/* ---------------- top	main menu	-------------------------*/
ul.mainmenu 
{
    clear: both;
    float: right;
    z-index: 20; /*fix for ie */
    margin: 0px 1px 0px 0px;
    padding: 0;
}

    ul.mainmenu li 
    {
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        /* background: url("../pix/li_sep.png") right 22px no-repeat; */
    }

        ul.mainmenu li a 
        {
            display: block;
            margin: 0 0 0 0;
            padding: 0px 10px 0px 10px;
            width: 120px;
            line-height: 60px;
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            text-align: center;
            text-decoration: none;
        }

            ul.mainmenu li a:hover 
            {
                color: #FBFBFB;
            }
/* ---------------- end top	main menu	---------------------*/
