@charset "UTF-8";
/* ------------------------------------------------------------------------ */
/* Add news stylying*/
/* ------------------------------------------------------------------------ */

div.news_stories{
    margin-left: 0.1rem;
}
div.story {
    margin-top: 2rem;
    padding: 1.4rem 0 0 1rem;
    border-bottom: 1px solid #afafaf;
    background-color: #9a9a9a;
}

div.story img{
    max-width: 98%;
}

/* ------------------------------------------------------------------------ */
/* Add features story stylying*/
/* ------------------------------------------------------------------------ */

div.story_image{
    background-color: #bbaa99;
}
div.story_image img {
    max-width: 98%;
}
div.story_title {
    margin-top: 2rem;
    background-color: #72dcf3;
}

div.story_feature_article {
    margin-top: 2rem;
    background-color: #efe18b;
}