@charset "UTF-8";
/* ------------------------------------------------------------------------ */
/* Add news stylying*/
/* ------------------------------------------------------------------------ */

div.news_stories{
    margin-left: 0.1rem;
}
div.story {
    margin-top: 2rem;
    padding: 1.4rem 0 0 1rem;
    border-bottom: 1px solid #afafaf;
    background-color: #FBFBFB;
}

div.story img{
    max-width: 98%;
}


/* ------------------------------------------------------------------------ */
/* Add features story stylying
/* ------------------------------------------------------------------------ */

div.story_image {
    background-color: #fbfbfb;
    margin-top: 2rem;
}
div.story_image img {
    max-width: 98%;
    max-height: 300px;
}
div.story_title {
    margin-top: 2rem;
    background-color: #fbfbfb;
}

div.story_feature_article {
    margin-top: 2rem;
    background-color: #fbfbfb;
}